html {
	font-family: Helvetica;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0.5em;
}

.loading {
	position: fixed;
	box-sizing: border-box;
	top: 0.5em;
	right: 0.5em;
	padding: 0.5em;
	min-width: 20em;
	margin: 0;
	text-align: center;
	background-color: #ffba00;
	color: #fff;
	opacity: 0.8;
}

.done {
	display: none;
}

table, tr, th, td {
	border-collapse: collapse;
}

tbody {
	color: #fff;
}

th, td {
	padding: .5em;
	text-align: left;
}

th[scope=row] {
	font-weight: normal;
}

.hot {
	background-color: #d54e21;
}

.warm {
	background-color: #f1831e;
}

.nice {
	background-color: #4cb420;
}

.cool {
	background-color: #2ea2cc;
}

.cold {
	background-color: #0074a2;
}
